
#div3{
float:center;
background:#43989e7d;
width: 85%;
  min-height:400px;
   font-family: arial;
}
#div2{
float:center;
background:#a1d2ce;
width: 99%;
  min-height:400px;
   font-family: Calibri;
}